<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/flyer.css">
	<link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
	<link rel="stylesheet" href="css/secureform.css" media="screen" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>Flyer</title>

</head>
<body>
  	<div class="login-card">
    	<center><h1 style="color:#0071A9">Flyer</h1></center>
    	<center><img src="images/flyerlogo3.png"></center>
	  	<form action="" method="post">
	    	<input type="text" name="username" class="form-control" required='true' placeholder="Username">
	    	<input type="password" name="password" class="form-control" required='true' placeholder="Password">    	
	    	<input type="submit" name="login" class="login login-submit" value="login">
	  	</form>

	  	<div class="login-help">
	    	<a href="/register">Register</a> 
	  	</div>
	</div>
</body>
</html>