<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/bootstrap-select.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/flyer.css">
	<link rel="stylesheet" href="css/secureform.css" media="screen" type="text/css" />
	<title>Flyer</title>
	
</head>
<body>
	<div id="contentArea" class="container" style="padding-left:0px; padding-right:0px; padding-top:80px">

		<nav class="navbar navbar-fixed-top">
		    <div class="navigation">
		      <center><h1>Flyer</h1>
		     <!-- <img style="width:40px; height:60px"class="mainImage" src="images/flyerlogo3.png"></center>-->
		     	
		        <table style="width:99%">
		        <tr>
		          <td align="center"><a class="navLink" href="/myLife">My Life</a></td>
		          <td  align="center"><a class="navLink" href="/takeAwalk">Take A Walk</a></td>    
		          <td class="on" align="center"><a class="on navLink" href="/myPosts">Create an Event</a></td>
		        </tr>
		      </table>
		    </div>
		</nav>


		</br>
		<div class="login-card" style="padding:20px">
			<form action="/post/new" method="get" role="form" id="addEvent">
			<h3>Fill out all Fields for your Event:</h3>
    		<label for="name">Name of Host:</label>
	    	<input type="text" class="form-control" name="name" id="name" placeholder="Enter Name:">
	    	<label for="title">Title of Event:</label>
	    	<input type="text" name="title" class="form-control" id="title" placeholder="Type title:">
	    	<label for="date">Date of Event:</label>
	    	<input type="date" name="date" class="form-control" id="date" placeholder="MMM/DD/YYYY">
	    	</br>
	    	<label for="time">Starting Time:</label>
	    	<input type="time" name ="starttime" class="form-control" id="starttime" placeholder="HH:MM">
	    	</br>
	    	<label for="time">Ending Time:</label>
	    	<input type="time" name="endtime" class="form-control" id="endtime" placeholder="HH:MM">
	    	<br>
	    	 <div class="form-group">
				  	<label for="time">Select Category(ies)</label>
		      		<select class="selectpicker" style="width:100%" multiple>
					    <optgroup label="Food">
					      <option>Free</option>
					    </optgroup>
					    <optgroup label="Charity">
					    	<option>Walk</option>
					    	<option>Give</option>
					    	<option>Donate</option>
					    </optgroup>	
					    <optgroup label="Party">
					      <option>Off-Campus</option>
					      <option>PC</option>
					      <option>RIMAC</option>
					    </optgroup>
					  </select>
		      	</div>
		    <label for="description">Description of Event:</label>  	
		    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
		    </br>
		    <div class="form-group">
    				<label for="exampleInputFile">File input</label>
    				<input type="file" id="exampleInputFile">
    				<p class="help-block">Image will be 250X250px</p>
 				</div>
	    	<input type="submit" id="newEventSubmitButton" class="login login-submit" value="Create the Event">
	  	</form>
	</div>
		<!--<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		     	<form action="/post/new" method="get" role="form" id="addEvent">
		     	<form method ="get" role="form" action="/post/new">
				  <div class="form-group">
				    <label for="name">Name of Host:</label>
				    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name:">
				  </div>
				  <div class="form-group">
				    <label for="title">Title of Event:</label>
				    <input type="text" name="title" class="form-control" id="title" placeholder="Type title:">
				  </div>
				  <div class="form-group">
				    <label for="date">Date of Event:</label>
				    <input type="date" name="date" class="form-control" id="date" placeholder="MMM/DD/YYYY">
				  </div>
				  <div class="form-group">
				    <label for="time">Starting Time:</label>
				    <input type="time" name ="starttime" class="form-control" id="starttime" placeholder="HH:MM">
				  </div>
				   <div class="form-group">
				    <label for="time">Ending Time:</label>
				    <input type="time" name="endtime" class="form-control" id="endtime" placeholder="HH:MM">
				  </div>
				  <div class="form-group">
				  	<label for="time">Select Category(ies)</label>
		      		<select class="selectpicker" style="width:100%" multiple>
					    <optgroup label="Food">
					      <option>Free</option>
					    </optgroup>
					    <optgroup label="Charity">
					    	<option>Walk</option>
					    	<option>Give</option>
					    	<option>Donate</option>
					    </optgroup>	
					    <optgroup label="Party">
					      <option>Off-Campus</option>
					      <option>PC</option>
					      <option>RIMAC</option>
					    </optgroup>
					  </select>
		      	</div>
		      	<div class="form-group">
				    <label for="description">Description of Event:</label>
				    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
				</div>
				<div class="form-group">
    				<label for="exampleInputFile">File input</label>
    				<input type="file" id="exampleInputFile">
    				<p class="help-block">Image will be 250X250px</p>
 				</div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Agree to tems and condions
				    </label>
				  </div>
				  <button id="newEventSubmitButton" type="submit" class="btn btn-default">Submit</button>
				</form>
		    </div>
		  </div>
		</div> -->
	</div>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-select.js"></script>
	<script src="js/flyer.js"></script>
</body>
</html>