<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/flyer.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<title>Flyer</title>

</head>
<body>
	<div class="container">
		<center><h1>Flyer</h1><center>
	</div>	
	<form action="" method="post">
		<center><input type="text" name="firstname" required='true' placeholder="First Name"><center>
		<br>
		<center><input type="text" name="lastname" required='true' placeholder="Last Name"><center>
		<br>
		<center><input type="text" name="email" required='true' placeholder="Email"><center>
		<br>
		<center><input type="text" name="username" required='true' placeholder="Username"><center>
		<br>
		<center><input type="password" name="password" required='true' placeholder="Password"><center>
		<br>
		<center><input type="submit" value="Log In"><center>
	</form>

</body>
</html>